@{
    ViewBag.Title = "ImageGallery";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div  class="row">
    <div class ="row">
        <div class="col-sm-12">
            <div class="col-sm-3 img-galley">
            <img src="~/Content/ImgGallery/Gallrey1.1.png" height="100%" width="100%" />
           </div>
            <div class="col-sm-3 img-galley">
                <img src="~/Content/ImgGallery/Gallrey1.png"height="100%"width="100%" />
            </div>
            <div class="col-sm-3 img-galley">
                <img src="~/Content/ImgGallery/Gallrey2.1.png" height="100%" width="100%"/>
             </div>
            

         </div>
        <div class="col-sm-12">
            <div class="col-sm-12" style="background-image:url('/Content/ImgGallery/Gallery.JPG');"></div>
            <div class="col-sm-3 img-galley">
            <img src="~/Content/ImgGallery/Gallrey1.1.png" height="100%" width="100%" />
           </div>
            <div class="col-sm-3 img-galley">
                <img src="~/Content/ImgGallery/Gallrey1.png"height="100%"width="100%" />
            </div>
            <div class="col-sm-3 img-galley">
                <img src="~/Content/ImgGallery/Gallrey2.1.png" height="100%" width="100%"/>
             </div>
            

         </div>
        <div class="col-sm-12">
            <div class="col-sm-3 img-galley">
            <img src="~/Content/ImgGallery/Gallrey1.1.png" height="100%" width="100%" />
           </div>
            <div class="col-sm-3 img-galley">
                <img src="~/Content/ImgGallery/Gallrey1.png"height="100%"width="100%" />
            </div>
            <div class="col-sm-3 img-galley">
                <img src="~/Content/ImgGallery/Gallrey2.1.png" height="100%" width="100%"/>
             </div>
            

         </div>
    </div>
</div>
