@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12 Login">
        <div class="col-sm-5"style="font-family:'Buxton Sketch';padding:20px;text-align:center;background:#f2f1f1;margin-top:30px;">
            <h2>!!Welcome To Programmer Adda !!</h2>
            
            You are come on the best platform here you can devlop our programming skills and share your Knowledge to each other programmers and Developers.
            In this site, you can find all technologies programmers and developers at any time.Here You can do live chating with programmers and Devloper at any time.
              <h3 style="font-weight:bold;">Thanks for Registration on Programmer Adda</h3>
        </div>
        <div class="col-sm-3 ">
            <div class="row">
                <div class="col-sm-12 Login1"style="margin-left:20px;">
                    <h1 style="text-align:center;"><span class="fa fa-user"></span>  Login</h1>
         
                    <br />
                  <form action="/Home/Login" method="post">
                  <input type="email" class="form-control"placeholder="Enter your Email Id" name="txtuserid"/ required=""><br />
                <input type="password"class="form-control"placeholder="Enter your password"name="txtpass" required=""/><br />
                <button type="submit" class="btn btn-success" value="Sing Up" style="width:100px;">Login</button>
                <br />
                <br />
                <a href="../Home/ForgetPassword" style="text-align:center;text-decoration:none;font-size:15px;">Forgot Password?</a>
                <br />
                <a href="/Home/NewUserRegistration" style="padding-left:40%;text-decoration:none;font-size:15px;">Create a New account</a>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <img src="~/Content/Logo/login.jpg" hieght="100%" width="100%"/>
        </div>
    </div>
</div>
