@{
    ViewBag.Title = "OurObjective";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12"style="height:400px;">
      
  
      <img id="Img" src="~/Content/Logo/k.jpg"height="100%" width="100%"/>
        
          
    </div>
</div>
<div class="row">
         <div class="col-sm-12 Content"style="background-image:url('/Content/bgImg/background%201.jpeg');min-height:500px;width:100%;">
             <div class="col-sm-12" style="background:rgba(7, 6, 6, 0.67); min-height:600px;">
              <div class="col-sm-12"style="color:white;font-family:'Buxton Sketch';">
                <section>
                    <div class="page-header" id="Our Objective">
                        <h1>Our Objective Check Out Our Objectives</h1>
                    </div>
                <div class="row">
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Understand the fundamentals of programming such as variables, conditions and iterative execution methods etc.</p>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Understand fundamentals of object-oriented programming in java including defining classes invoking methods,using class libraries etc</p>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Be Aware of the important topics and principle of software development</p>
                        </blockquote>
                    </div>
                </div>
                    
                    </section>
                        </div>
            
           
                 <div class="col-sm-12" style="text-align:center; font-size:30px;text-decoration:underline; color:white; margin-top:10px; font-family:'Buxton Sketch';" >
                      Our Objective.
                      <hr/>
                 </div>
               
               <div class="col-sm-5" style="font-size:20px; font-family:'Times New Roman';margin:45px;border:1px solid;background:#eae4e4;height:400px;overflow:scroll">
        <h1 style="color:green; text-decoration:underline;">Learn how to write clean code</h1><br />
Even the experienced programmers lack the art of writing clean code. 
        To do so, one needs to learn the process of turning a heap of unmaintainable code into an easy-to-understand code.
         Get started here and 
For a person with not-so-much technical experience, the first encounter with a programming language could be dreadful.
         One moment a code newbie feels like things are getting simpler, the next moment everything gets stuck.
         To help you learn programming in such a scenario.
    </div>
                 <div class ="col-sm-5"style="font-size:20px; font-family:'Times New Roman';margin:45px;border:1px solid;background:#eae4e4;height:400px;overflow:scroll">
        <h1 style="color:green; text-decoration:underline;">Experienced programmer? Learning a new language?</h1>
Exercism is also suitable for you if you aren’t new to the programming world and you know what it’s like to master
         a programming language. But, what if learning a new programming language is turning out to be pretty uncomfortable?
         In such situations, Exercism helps you to improve programming skills by filling all the small gaps.
        did you find Exercism.io interesting? Are you going to try it out and increasing your programming knowledge? Don’t forget to share your views and feedback.

    </div>
              </div>
        </div>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>
