@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
          @using ProgrammerAdd.Models;
        @{
            Random nm = new Random();
            int q = nm.Next(20);
            while(q!=0)
            {
                Console.WriteLine("What is c language");
            }
        }
        <input type="button" value="next" class="btn btn-success"/>

    </div>
</div>