<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/hover-min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <link href="~/Content/MainPage.css" rel="stylesheet" />
   
   
    
     <style>

        <!-- User Index css -->
         .Content1{
            min-height:500px;
            font-size:22px;
            color:white;font-family:'Buxton Sketch';
             padding:0px;  
           background-image:url('/Content/bgImg/background%204.jpeg');
                   
        }
h1 {
      color:yellow;
     font-style:normal;
     }
    </style>
  
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 Header1">
                    <div class="col-sm-4" style="font-size:20px;font-weight:bold;"> 
                    <img src="~/Content/Logo/logo4.PNG" hieght="100px" width="100px"/>
                   <span style="color:#ff0046;">P</span>
                    <span style="color:yellow;">R</span>
                    <span style="color:red;">O</span>
                    <span style="color:green;">G</span>
                    <span style="color:black;">R</span>
                    <span style="color:#0026ff;">A</span>
                    <span style="color:green;">M</span>
                    <span style="color:yellowgreen;">M</span>
                    <span style="color:lightblue;">E</span>
                    <span style="color:green;">R</span>.<span>ADDA</span>

                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-2" style="font-size:20px;padding-top:15px; color:white;">
                    <a href="#"><span class="fa fa-facebook" ></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="#"><span class="fa fa-youtube"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="#"><span class="fa fa-twitter"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="#"><span class="fa fa-instagram"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>

            </div> 

                                  <!--Start Code UserZone Menu  -->
            <div class="row">
                <div class="col-sm-12 menu" style="height:80px;margin-bottom:10px;">
                    <nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h2 class="navbar-brand" style="font-family:'Buxton Sketch';font-size:22px;">Hello!<span style="font-family:Buxton Sketch;font-size:20px;color:#f00;">&nbsp;&nbsp;@ViewBag.nm</span></h2>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-size:18px;padding-top:18px;">
     
      <ul class="nav navbar-nav navbar-center" style="padding-left:30%;";">
        <li><a href="../User/What_s">What's New?</a></li>
          <li><a href="../User/Feedback">Feedback</a></li>
          <li><a href="../User/Download">Download</a></li>
          <li><a href="../User/Notification">Notification</a></li>
          <li></li> 
          </ul>

          <ul class="nav navbar-nav navbar-right" style="padding-top:0px;">
          <li class="dropdown" style="padding-top:0px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="@ViewBag.profile" height="40px" width="40px" style="border-radius:50%; " /></a>
          <ul class="dropdown-menu">
                <li>  <img src="@ViewBag.profile" height="100px" width="100px" style="border-radius:50%;margin-left:25px;"/></li>
              <li><a href="../User/Dashboard" style="background:green;width:100px;margin-left:25px;margin-top:10px; color:white; height:30px; font-size:15px;">Dashboard</a></li>
           
            <li role="separator" class="divider"></li>
               <li><a href="../User/MyProfile"> Edit Profile</a></li>
            <li><a href="../User/Changepassword">Change Password</a></li>
            <li><a href="../User/LogOut"><span class="fa fa-power-off" style="color:red;"></span>  Sing out</a></li>
          </ul>
       
        </ul>
       </div><!-- /.navbar-collapse -->
                    </nav>
                        
                </div>
                
                <!-- /.container-fluid -->
                
                </div>

                                 <!--End Code UserZone Menu  -->
                            
        <div class="row">
            <div class="col-sm-12 Content">
     
                 @RenderBody()
               
                 </div>
           
          </div>
         <!-- Code for Footer -->
        <div class="row">
            <div class="col-sm-12 Footer">
                <hr />
                <div class="col-sm-2">
                    <img src="~/Content/bgImg/sobahrat4.jpg" height="90%"width="100%"/></div>
                <div class="col-sm-8 Footer-in" ">
                    <div class="row">
                       <div class="col-sm-3">
                         <h4>Tutorials</h4>
                    ..........................................
                           <br />

                    <a href="#">Core Java Tutorial</a> <br /> 
                    <a href="#">Jdbc Tutorial</a><br />
                    <a href="#">Servlet Tutorial</a><br />
                    <a href="#">Jsp Tutorial</a><br />



                </div> 
                <div class="col-sm-3">
                      <h4>Interview Question</h4>
                    ..........................................
                           <br />                                                 

                    <a href="#">Java Interview</a> <br /> 
                    <a href="#">C Interview</a><br />
                    <a href="#">Php Interview</a><br />
                    <a href="#">Html Interview</a><br />
                    <a href="#">.Net Interview</a><br />
                    <a href="#">HR Interview</a><br />

                </div>
                <div class="col-sm-3">
                      <h4>Online Test</h4>
                    ..........................................                         
                       <br />

                    <a href="#">Core Java Test</a> <br /> 
                    <a href="#">Jdbc Test</a><br />
                    <a href="#">Servlet Test</a><br />
                    <a href="#">Jsp Test</a><br />
                    <a href="#">Php Test</a> <br /> 
                    <a href="#">C Test</a><br />
                    <a href="#">C# Test</a><br />
                    <a href="#">Asp Test</a><br />
                    <a href="#">Html Test</a><br />
                    <a href="#">Javascript & Jquery Test</a><br />
                    <a href="#">Aptitude Test</a><br />

                </div>
                <div class="col-sm-3">
                      <h4> Other Links</h4>
                    ..........................................               
                           <br />

                    <a href="#">Get Test Result</a> <br /> 
                    <a href="#">Download Software</a><br />
                    <a href="#">Download Books</a><br />
                    <a href="#">Java Posts</a><br />
                    <a href="#">Interview Questions</a><br />
                    <a href="#">About Us</a><br />


                </div>
                  </div>
               </div>
              <div class="col-sm-2">
                  <img src="../Content/bgImg/sobahrat7.jpg"height="100%"width="100%" />
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 Footer2">
                Copyright &copy;2019.All Rights Reserved Contect
            </div>

        </div>
        
    </div>
</body>
</html>
