@{
    ViewBag.Title = "FeedbackMgmt";
    Layout = "~/Views/Shared/AdminZoneMasterLayout.cshtml";
}


<div>
        <table class="table">
    <tr style="font-size:22px;background:#ffd800;">
        <th>FNo.</th>
        <th>Masseg</th>
         <th>Email Id</th>
        <th> feedBack Date</th>
         <th>Delete</th>
    </tr>
    @using ProgrammerAdd.Models;
    @{
        ConnectionManager cm = new ConnectionManager();
        string command = "select * from TBL_Feedback";
        System.Data.DataTable dt = cm.GetBulksRecord(command);
        if(dt.Rows.Count>0)
        {
            for(int i=0;i<dt.Rows.Count;i++)
            {
        <tr>
        <td>@dt.Rows[i][0].ToString()</td>
            <td>@dt.Rows[i][1].ToString()</td>
            <td>@dt.Rows[i][2].ToString()</td>
            <td>@dt.Rows[i][3].ToString()</td>
        <td><a href="/Admin/delete?dt=@dt.Rows[i][2].ToString()">Click</a></td>
      
       </tr>
            }
        }
    }
   
</table>
    </div>
