@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/UerZoneMasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="min-height:700px; background:#f2f1f1;">

        <div class="col-sm-3" style="margin-left:45px;">
            <div class="row">
                <div class="col-sm-12 dash1">
                    <div class="col-sm-3">
                  <img src="@ViewBag.profile"height="70px" width="70px" style="border-radius:50%;border:1px dotted;"/>
                   </div>
                    <div class="col-sm-8" style="margin-left:15px;">Hello!<br />
                     <span><a href="../User/MyProfile" style="color:red;font-family:'Buxton Sketch'; 
    font-size:20px;text-decoration:none;"> @ViewBag.nm</a></span>
                    </div>
                    <div class="col-sm-1"></div>
                    
                </div>     
                 <div class="col-sm-12 dash-left">                            
                 <h3 style="text-align:center;">Discussion Board</h3>
            <a href="../User/Discussion">Ask a Question</a><br />
            <a href="../User/ViewAnswer">Give Answer</a>
                    
                </div>
                <div class="col-sm-12 dash-left">
                    <a href="../User/Download">Download</a>
                </div>
                <div class="col-sm-12 dash-left">
                    <a href="../User/SharedData">Share file/Data</a>
                </div>
                <div class="col-sm-12 dash-left">
                    <a href="../User/Changepassword">Change Password</a>
                    
                </div>
                <div class="col-sm-12 dash-left">
                    <a href="../User/Feedback">Feedback</a>
                    
                </div>
                <div class="col-sm-12 dash-left">
                    <a href="#">Blog</a>
                </div>
                <div class="col-sm-12 dash-left">
                    <a href="../User/LogOut"> <span class="fa fa-power-off"></span>  Sing out</a>
                </div>
            </div>
            
        </div>
       
         <div class="col-sm-8" style="min-height:700px;background-image:url('/Content/bgImg/Dashbordimg.JPG');margin:15px;">
        <div class="row">
          
        
                
            <div class="col-sm-12 dash-right">
                <div class="col-sm-4">
                    <img src="~/Content/LinkImage/Capture6.JPG" height="100px" width="100%;"/>
                </div>
                <div class="col-sm-8">
               <h2> Web Development Summer..</h2>
Web developer responsibilities include building website from concept.<br> Write well designed, testable, efficient code Create website layout/user ...
                    <br />
                    <br />
           <a href="http://www.trainingatsoftpro.com/" style="padding-left:70%;"><input type="submit" value="Registration" class="corm-control" style="background:green; color:black;"/></a>
                    
                     </div>
                 <hr />
                </div>
            
            <div class="col-sm-12 dash-right">
                 <hr />
                <div class="col-sm-4">
                    <img src="~/Content/LinkImage/Capture5.JPG" height="100px;" width="100%" /></div>
                <div class="col-sm-8">
                <h2>Mobile App Development..</h2>
About the Internship: Selected intern's day-to-day responsibilities include: 1. Review and sign Weekly Time Logs. Notify the faculty ...
                    <br />
                    <br />
           <a href="https://www.cos.youth4work.com/enter-web-infosoft/jobs/100841-web-development-internship_in_allahabad-in-allahabad" style="padding-left:70%;"><input type="submit" value="Apply" class="corm-control" style="background:green; color:black;"/></a>
            </div>
                </div>
            
            
            <div class="col-sm-12 dash-right">
                <hr />
                <div class="col-sm-4">
                    <img src="~/Content/LinkImage/Capture4.JPG" height="100px" width="100%" /></div>
                <div class="col-sm-8">
                <h2>Web Development Internship In..</h2>
About the Internship: Selected intern's day-to-day responsibilities include: 1. Web designing development 2. Assisting in mobile ...
            <br />
                    <br />
           <a href="https://www.cos.youth4work.com/enterweb-infosoft/jobs/103443-mobile-application-development-in-allahabad" style="padding-left:70%;"><input type="submit" value="Apply" class="corm-control" style="background:green; color:black;"/></a>
                </div>
                </div>
        </div>
    </div>
</div>
    </div>