@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UerZoneMasterLayout.cshtml";
}


 <div class="row">
              <!--Coding for Slider -->
               
            <div class="col-sm-12 Slider"style="min-height:400px;margin-top:10px;">
                <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

   <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
   
    <div class="item">
      <img src="~/Content/image/b2.jpg" alt="..." style="height:500px;width:100%"/>
       
      <div class="carousel-caption">
          <h2>EDUCATION IS THE KEY TO UNLOCK THE GOLDEN DOOR OF FREEDOM</h2>
      </div>
    </div>
      <div class="item">
      <img src="~/Content/image/program3.png" alt="..." style="height:500px;width:100%"/>
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item active">
      <img src="~/Content/ImgGallery/Gallrey1.png" alt="..." style="height:500px;width:100%"/>
      <div class="carousel-caption">
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
             </div>
                </div>
         
              <!--- End Silder Code -->
        </div>
        <div class="row">
                             <!--- Hear Content Code -->
            <div class="col-sm-12 Content1">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12" style="background:rgba(9, 0, 0, 0.78); ">
                        <h1> Some Programming Languages You Should Learn Right Now</h1>
                        <img src="~/Content/programpic/ojective.jpg" height="400px" width="100%;"/>
                        <div class="col-sm-12" style="overflow:scroll;height:700px;margin-top:12px;">
                            <h1>1. Java</h1>
                            <img src="~/Content/programpic/Capture1.PNG" />
                       <h1> What it is:</h1> Java is a class-based, object-oriented programming language developed by Sun Microsystems in the 1990s.
                         It's one of the most in-demand programming languages, a standard for enterprise software, web-based content,
                         games and mobile apps, as well as the Android operating system.Java is designed to work across multiple software platforms,
                          meaning a program written on Mac OS X, for example, could also run on Windows.
                           <br />
                            <br />
                            <h1>2. C Language</h1>
                            <img src="~/Content/programpic/Capture2.PNG"/>
                            <h1>What it is:</h1>
                             A general-purpose, imperative programming language developed in the early
                            '70s, C is the oldest and most widely used language, providing the building blocks for other
                             popular languages, such as C#, Java, JavaScript and Python. C is mostly used for implementing
                             operating systems and embedded applications.Because it provides the foundation for many other
                             languages, it is advisable to learn C (and C++) before moving on to others.
                            <br />
                            <br />
                            <h1>3. C#</h1>
                            <img src="~/Content/programpic/Capture3.PNG" />
                            <h1> What it is:</h1>
                           
                             Pronounced "C-sharp," C# is a multi-paradigm language developed by Microsoftas part of its .
                            NET initiative.Combining principles from C and C++, C# is a general-purpose language used to 
                            develop software for Microsoft and Windows platforms.
                            <br />
                            <br />
                            <h1>4. Objective C</h1>
                            <img src="~/Content/programpic/Capture4.PNG" />
                            <h1>What it is:</h1>
                            
                         Objective-C is a general-purpose, object-oriented programming language used by the Apple operating system. 
                         It powers Apple's OS X and iOS, as well as its APIs, and can be used to create iPhone apps, 
                          which has generated a huge demand for this once-outmoded programming language.
                            <br />
                            <br />
                            <h1>5. Python </h1>
                            <img src="~/Content/programpic/Capture5.PNG"/>
                            <h1>What it is:</h1>
                            
                        Python is a high-level, server-side scripting language for websites and mobile apps. 
                         It's considered a fairly easy language for beginners due to its readability and compact syntax, 
                        meaning developers can use fewer lines of code to express a concept than they would in other languages.
                        It powers the web apps for Instagram, Pinterest and Rdio through its associated web framework, Django, 
                        and is used by Google, Yahoo! and NASA
                            <br />
                            <br />
                            <h1>6. Ruby</h1>
                            <img src="~/Content/programpic/Capture6.PNG" />
                           <h1> What it is:</h1>
                            A dynamic, object-oriented scripting language for developing websites and mobile apps, 
                            Ruby was designed to be simple and easy to write. It powers the Ruby on Rails (or Rails) framework,
                             which is used on Scribd, GitHub, Groupon and Shopify. Like Python, Ruby is considered a fairly user-friendly language for beginners.
                            <br /><br />
                            <h1>7. Javascript</h1>
                            <img src="~/Content/programpic/Capture7.PNG" />
                            <h1>What it is:</h1>
                            
                            JavaScript is a client and server-side scripting language developed by Netscapethat derives much of its syntax from C.
                             It can be used across multiple web browsers and is considered essential for developing interactive or animated web functions.
                             It is also used in game development and writing desktop applications. JavaScript interpreters are embedded in Google's Chrome extensions,
                             Apple's Safari extensions, Adobe Acrobat and Reader, and Adobe's Creative Suite.


                             </div>
                        </div>
                       </div>
                    </div>

                                 <!-- Here Code for Right div Notification  -->
                <div class="col-sm-4" style="background:rgba(0, 0, 0, 0.78);">
                  <div class="row">
                      <div class="col-sm-12"><h1>Notification</h1></div>
                      <div class="col-sm-11" style="min-height:400px;margin-left:15px;border:1px solid;">
                          <marquee>
                          1. Today an Interview of Softpro India. Any one Programmeer to go there and given an interview<br />
                          2. it Will be out going all .Net students of welcome part in softpro indai 30-7-2018.<br />
                          3.Live chat Daily 10:00 PM to 12:00 AM.<br />
                          4. Any one Programmer to Join And live chat to discation programming and Skills.<br />
                          5. Weekly Given a 7 Project on Programmer Adds Progrmmer.  <br />
                              </marquee>
                      </div><br />
                      <div class="col-sm-12"style="overflow:scroll;height:700px;">
                    
                        <img src="~/Content/programpic/cartton2.PNG" width="100%"/><br /><br />
                     <img src="~/Content/programpic/cartton3.PNG"width="100%" /><br /><br />
                        <img src="~/Content/programpic/cartton1.PNG" width="100%" /><br /><br />
                          <img src="~/Content/programpic/cartton3.PNG"width="100%" /><br /><br />
                    
                    </div> 
                    </div>
  
                  </div>
                <div class="col-sm-12"style="background-image:url('/Content/bgImg/background%201.jpeg'); margin-top:12px;border:1px solid white;box-shadow:2px 2px 50px yellow inset">
                    <div class="row">
                        <div class="col-sm-12"style="background:rgba(7, 6, 6, 0.67);padding:0px;">
                           
                <div class="col-sm-6">
                   <h1>Learn how to write clean code</h1><br />
                   Even the experienced programmers lack the art of writing clean code. 
                To do so, one needs to learn the process of turning a heap of unmaintainable code into an easy-to-understand code.
         Get started here and 
          For a person with not-so-much technical experience, the first encounter with a programming language could be dreadful.
         One moment a code newbie feels like things are getting simpler, the next moment everything gets stuck.
         To help you learn programming in such a scenario.
                </div>
                <div class="col-sm-6">
                    <h1>Experienced programmer? Learning a new language?</h1>
Exercism is also suitable for you if you aren’t new to the programming world and you know what it’s like to master
         a programming language. But, what if learning a new programming language is turning out to be pretty uncomfortable?
         In such situations, Exercism helps you to improve programming skills by filling all the small gaps.
        did you find Exercism.io interesting? Are you going to try it out and increasing your programming knowledge? Don’t forget to share your views and feedback.
                </div>
                        
                     
            
                    <div class="col-sm-12" style="font-family:Arial;">
                <section>
                    <div class="page-header" id="Our Objective">
                        <h1>Our Objective Check Out Our Objectives</h1>
                    </div>
                <div class="row">
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Understand the fundamentals of programming such as variables, conditions and iterative execution methods etc.</p>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Understand fundamentals of object-oriented programming in java including defining classes invoking methods,using class libraries etc</p>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Be Aware of the important topics and principle of software development</p>
                        </blockquote>
                    </div>
                </div>
                    
                    </section>
                        </div>
                   </div>

                     </div>
                  </div>
           </div>
        </div>

                             
